{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-md-auto">
            <h1>URL Shortener</h1>
          </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-md-auto">
            <h2>Shorten My URL</h2>
            <p>This url shortener was designed by James Washington.</p>
            <p>It takes a URL, and allows a user to create their own short url.</p>
        </div>
        <div class="col col-md-auto">
            <form method="POST" action="{{ url_for('shorten') }}" role="form">
                <div class="form-group">
                    <label for="URL">URL to shorten</label>
                    <input name="URL" type="url" class="form-control" id="URL" placeholder="https://example.com/example_path$example_parameter">
                    <small id="URLhelp" class="form-text text-muted">Enter the URL you wish to shorten.</small>
                </div>
                <div class="form-group">
                    <label for="shorthand">Short URL</label>
                    <input name="shorthand" type="text" class="form-control" id="shorthand" placeholder="MyShortURL">
                </div>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>    
</div>
{%- endblock %}